body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    
    margin-top: 100px;
}

.buttons {
    display: flex;
}

.fourthRow {
    display: flex;
}
#zero {
    flex: 2 1 auto;
}
.display {
    display: block;
    border: 1px solid blue;
    width: auto;
    height: 25px;
}

.equal {
    display: flex;
    flex: 2 1 auto;
    justify-content: space-evenly;
}

.numbers {
    border: 1px solid blue;
    flex: 1;
}

.operators {
    display: flex;
    flex-direction: column;
}
